<div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Angular Todo</a>
                <div id="loggedin"></div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">Home</a></li>
                <li><a href="#/todo">Todo</a></li>
                <li><a href="#/accounts/login">Login</a></li>
                <li><a href="#/accounts/register">Register</a></li>
            </ul>

        </div>
    </nav>
